-
    const MENU = [
        {
            href: '#',
            content: 'Renders',
        },
        {
            href: '#',
            content: 'Diseños',
        },
        {
            href: '#',
            content: 'Acerca de mí',
        },
        {
            href: '#',
            content: 'Contacto',
        },
    ]