.logo {
    --logo-size: calc(30 / 16 * 1rem);
    --slogan-size: calc(14 / 16 * 1rem);
    display: inline-flex;
    flex-direction: column;
    font-size: var(--logo-size);
    font-weight: 900;
    line-height: 1;
    text-align: center;

    @media only screen and (min-width: 736px) {
        text-align: initial;
    }

    &__slogan {
        font-size: var(--slogan-size);
        font-weight: 400;
    }
}